.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 3rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.button{
  margin-top: 2rem;
  width: 300px;
}