.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vmin auto;
}

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.App main h1 {
  color: var(--secondary-dark);
  margin-bottom: 5vmin;
}

.form-label{
  color: rgb(236, 243, 245);
  font-size: 30px;
  font-weight: 600;
}

.form-control{
width: 37rem;
margin-left: 4rem;
}

.card-text{
  color: black;
}

form{
  align-self: center;
  margin-top: 10ch;
}

.tag{
  color: rgb(20, 118, 230);
  font-weight: 700;
  font-size: 2rem;
  background-color: rgb(181, 211, 238);
  border-radius: 80%;
  margin-right: 2rem;
}


@media only screen and (min-width: 768px) {
  .form-control{
    width: 53rem;
    margin-left: 4rem;
    justify-content: center;
    }

    
}